# Python 
__pycache__/ 
*.py[cod] 
*$py.class 
# Virtual environments 
venv/ 
.venv/ 
.env/ 
# DVC managed data 
# Игнорируем содержимое data/, но НЕ .dvc файлы! 
data/ 
!data/raw/ 
data/raw/swans/ 
!data/raw/*.dvc 
notebooks/data/ 
!notebooks/data/processed/ 
notebooks/data/processed/swans_dataset/ 
!notebooks/data/processed/*.dvc 
!notebooks/data/*.json 
!notebooks/data/*.csv 
# DVC internal 
.dvc/tmp/ 
.dvc/cache/ 
# Jupyter 
.ipynb_checkpoints/ 
# IDE 
.vscode/ 
.idea/ 
*.swp 
*.swo 
# Models 
models/ 
!models/.gitkeep 
# System files 
.DS_Store 
Thumbs.db 
