torch==2.1.0
torchvision==0.16.0
pillow==10.3.0

pandas==2.2.3
numpy==1.26.4
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0

scikit-learn==1.5.0

matplotlib==3.9.2
seaborn==0.13.2

pyyaml==6.0.2
requests==2.32.3

streamlit==1.36.0

timm==0.9.16
